/* #region general */

:root {
	/* #region COLORS */
	--colPalette1: #1f1264;
	--colPalette2: #ff88ac;
	--colPalette3: #7c0f61;
	--colPalette4: #31feee;
	--colPalette5: #5e2550;
	--colPalette6: #9811b0;
	/* baackground */
	--colBG: #cfbbcc;
	/* title, h1*/
	--colTitle1: #31feee;
	--colTitle2: #55aad8;
	--colTitle3: #7660c5;
	--colTitle4: #9811b0;
	/* title background */
	--colTitleBG1: var(--colPalette1);
	--colTitleBG2: var(--colPalette3);
	/* Section Headlines, h2 */
	--colHeadline: rgb(233, 41, 159);
	/* Subheadlines */
	--colSubline: #360733;
	/* text */
	--colText: black;

	/* ////// NAV ////// */
	/* Page Nav */
	--colPageNav: #edf2f4;
	--colPageNavHover: #d7ced6;
	--colPageNavBG: #e6ecefe0;
	--colPageNavText: rgb(50, 196, 201);
	/*Topic Bar*/
	--colTopic1: #edf2f4;
	--colTopicHover: #d7ced6;
	--colTopicText: black;
	/* Filter Button */
	--colFilterButton: #edf2f4; /*the filter button on the topic bar*/
	--colFilterButtonHover: #d7ced6; /*the filter button on the topic bar*/
	--colFilterButtonText: black;
	/* filter List */
	--colFilter: #edf2f4;
	--colFilterHover: #d7ced6;
	--colFilterBG: #e6ecefe0;
	--colFilterText: black;

	/* content */
	--colContentBorder: rgb(3, 18, 56);
	--colContentBG: rgb(198, 211, 235);
	/*  */
	--colFooterBG: white;
	/* #endregion COLORS*/
	/* #region FONTS*/
	--fontTitle: "Koulen", Impact;
	--fontHeadline: "Audiowide", sans-serif;
	--fontSubline: "Josefin Sans", sans-serif;
	--fontText: "Josefin Sans", sans-serif;
	--fontFooter: "Courier Prime", monospace;
	--fontNavPage: var(--fontHeadline);
	--fontNav: var(--fontText);
	--fontNavFilter: var(--fontText);
	/* #endregion */
	/* #region SIZES*/
	--mainWidth: 1000px;
	/* filter */
	--filterWidth: calc(1rem * 5.6);
	/* #endregion SIZES*/
}

/* #region -groundwork */
html {
	font-size: 100%;
	box-sizing: border-box;
	font-family: var(--fontText);
	height: 100%;
	scroll-behavior: smooth;
}
html p {
	line-height: 1.5rem;
}

@media (prefers-reduced-motion) {
	html {
		scroll-behavior: initial;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin-block: 0;
	padding-inline: 0;
}

body {
	margin: 0 auto;
	padding: 0;
	min-height: 100vh;
	background-color: var(--colBG);
}

img {
	width: 100%;
	height: auto;
	display: block;
}
/* #endregion -groundwork*/
/* #region -utility classes*/
.selectNone {
	/*cant be selected*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome,
  dge, Opera and Firefox */
}
.selectAll {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

/* #endregion -utility classes*/

/* #endregion root*/
/* #region title*/
#title-base {
	/* font-size: calc(1rem * 4); */
	font-size: calc(16px * 4);
}
#title {
	font-size: 2em;
	/* x&y offset of title*/
	--titlexoff: calc(1em * 0.5);
	--titleyoff: calc(1em * 0.5);
	/*uses current font size*/
	height: calc((1em * 2) * 1.1 + var(--titleyoff));
	width: 100%;
	padding-left: calc(1em * 0.09 + var(--titlexoff));
	padding-top: var(--titleyoff);

	background: linear-gradient(
		to bottom right,
		var(--colTitleBG1) 0%,
		var(--colTitleBG2) 100%
	);
}

/* #region media title size*/

/* prettier-ignore */
@media screen and (max-width: 375px)							{#title{font-size: 0.5em;	}}
/* prettier-ignore */
@media screen and (min-width: 376px) and	(max-width: 500px)	{#title{font-size: 0.65em;	}}
/* prettier-ignore */
@media screen and (min-width: 501px) and	(max-width: 600px)	{#title{font-size: 0.9em;	}}
/* prettier-ignore */
@media screen and (min-width: 601px) and	(max-width: 800px)	{#title{font-size: 1em;		}}
/* prettier-ignore */
@media screen and (min-width: 801px) and	(max-width: 1200px)	{#title{font-size: 1.5em;	}}

/* @media screen and (min-width: 1201px) and (max-width: 2000px) {#title{font-size: 2em;}} */
/* #endregion */

#title-title {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: var(--fontTitle);
	font-style: normal;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 100%;
	font-size: 100%;

	/* multi text shadow */

	--ttsc1: calc(1 * 1em * 0.08);
	--ttsc2: calc(2 * 1em * 0.08);
	--ttsc3: calc(3 * 1em * 0.08);

	color: var(--colTitle1);
	/* prettier-ignore */
	text-shadow:
    var(--ttsc1) var(--ttsc1) 0 var(--colTitle2),
		var(--ttsc2) var(--ttsc2) 0 var(--colTitle3),
		var(--ttsc3) var(--ttsc3) 0 var(--colTitle4);
}

/* #endregion title*/
/* #region nav */

/* #region general nav*/
/* all nav links and buttons */
nav a,
nav button {
	cursor: pointer;
	text-decoration: none;
}
/* all nav list items */
nav li {
	list-style: none;
}
/* all */
nav * {
	font-family: inherit;
	font-size: 1em;
	color: inherit;
}

/* #endregion */
/* #region function groupings*/

.fontToHeight,
.navHor {
	--fontToHeight: 2; /*individual var possible*/
	height: calc(1em * var(--fontToHeight));
}

/* #endregion */
/* #region horizontal nav*/

.navHor {
	/* height: 100%; */ /*.navHor standard part of .fontToHeight*/
	width: inherit;
	background-color: var(--colNavBG);
	font-size: 1.5rem;
}
/*next big element, usually a list*/
.navHor ul {
	height: inherit;
	/* flex */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
}
/* individual buttons */
.navHor ul li,
#filter-button {
	height: inherit;
	/* border: 1px solid rgb(28, 27, 27); */
	padding: 0;
	/* flex */
	flex-grow: 1;
}
/* #endregion horizontal nav*/

/* #region page and topic*/

#page-navigation ul li,
#topic-nav ul li {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

/* #endregion */
/* #region page-navigation */
#page-navigation {
	/* heigth multiplier */
	--fontToHeight: 2;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: center;
	/* col */
	background: var(--colPageNavBG);
	color: var(--colPageNavText);
	/* font */
	font-family: var(--fontNavPage);
	font-size: 2rem;
}
#page-navigation ul {
	width: var(--mainWidth);
}
#page-navigation li {
	background-color: var(--colPageNav);
}
#page-navigation li:hover {
	background-color: var(--colPageNavHover);
}

/* #endregion */
/* #region topic bar*/

#topic-nav {
	/* col */
	color: var(--colTopicText);
}

#topic-nav li {
	background-color: var(--colTopic1);
}
#topic-nav li:hover {
	background-color: var(--colTopicHover);
}

/* #endregion */
/* #region filter button and list*/

#filter-button,
#filter-nav {
	width: var(--filterWidth);
}

/* #endregion */
/* #region filter button */
#filter-button {
	float: left;
	/* col */
	background-color: var(--colFilterButton);
	color: var(--colFilterButtonText);
}
#filter-button:hover {
	/* col */
	background-color: var(--colFilterButtonHover);
}
/* #endregion */
/* #region filter list*/
#filter-nav {
	font-size: 0.8rem;
	background: var(--colFilterBG);
	height: inherit;
	color: var(--colFilterText);

	/* display toggle stuff */
	--rememberDisplay: block; /*holds display for toggle*/
	display: none;
}
#filter-nav ul {
	width: inherit;
	height: inherit;
}
#filter-nav ul li {
	padding: 0.6em 0.8em;
	height: fit-content;
	width: inherit;
	text-align: start;
	background-color: var(--colFilter);
}
#filter-list li:hover {
	background-color: var(--colFilterHover);
}
/* #endregion */

/* #endregion nav*/
/* #region main page*/

#page-main {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--mainWidth);
}

header h2 {
	font-size: 3rem;
	color: var(--colHeadline);
	font-family: var(--fontHeadline);
}
/* subheadline */
header h2 + p {
	font-size: 1.5rem;
	color: var(--colSubline);
	font-family: var(--fontSubline);
}
/* article*/
article > p {
	font-size: 1rem;
	color: var(--colText);
	font-family: var(--fontText);
}

/* #region -about*/

/* #endregion -about*/
/* #region -projects*/

/* #region --general*/
#project-div {
}

/* #endregion --general*/
/* #region --content*/

#content-div {
	height: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}

/* #region ---generated content*/

#content-destination {
	/* size */
	width: auto;
	flex-grow: 1;

	/* flex */
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
}
#content-article {
	font-size: 1rem;
	font-weight: normal;
	padding: 5px;

	min-width: 200px;
	max-width: 300px;

	min-height: 200px;
	border: 3px solid var(--colContentBorder, black);
	border-radius: 10px;
	background: var(--colContentBG);
}
#content-article h2 {
	margin: 0;
}
#content-article img {
	width: 100%;
	min-height: 100px;
	height: auto;
	background-color: blanchedalmond;
}
/* #endregion ---generated content*/

/* #endregion --content*/

/* #endregion -projects*/

/* #endregion main page*/
/* #region footer*/

footer {
	background: var(--colFooterBG);
	color: var(--colText);
	font-family: var(--fontFooter);
	padding: 0 2rem;
	padding-bottom: 0.5rem;
	height: calc(1rem * 4);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: space-between;
}

/* #endregion footer*/
/* #region media*/

@media screen and (max-width: 300px) {
	html {
		font-size: 0.5rem;
	}
}
@media screen and (min-width: 301px) and (max-width: 425px) {
	html {
		font-size: 0.7rem;
	}
}
@media screen and (min-width: 426px) {
	html {
		font-size: 1rem;
	}
}

/* #endregion */
