:root {
  /*
  "Audiowide", Impact
  "Josefin Sans", sans-serif
  */

  --fontFooter: normal 0.8em "Courier Prime", monospace;

  /* --colBG: rgb(32, 0, 0); */
  /* color: ; */

  --backClickable: blue;

  --colBG: rgb(48, 6, 48);
  --colText: rgb(57, 179, 219);
  --colHighlight: aqua; /*lightblue*/
  --colSpecial1: fuchsia;
  --colSpecual2: purple;
  --colSpecual3: pink;

  /* filter */
  --colFilter: var(--colText);
  --colFilterH: var(--colHighlight);
  --colFilterA: var(--colSpecial1);
  --colFilterAH: var(--colSpecual3);

  /* content */
  --borderCont: 3px var(--colText) dashed;
  --borderImg: 3px rgba(255, 0, 255, 0.192) solid;

  font: normal normal 1em "Courier Prime", monospace;
  color: var(--colText);
}

/* #region -groundwork */

html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: var(--fontText);
  min-height: 100%;
  scroll-behavior: smooth;
}
html p {
  line-height: normal;
  line-height: 1.5rem;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-block: 0;
  margin: 0;
  padding-inline: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background: var(--colBG);
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
}

img {
  width: 100%;
  height: auto;
  display: block;
}

label {
  display: block;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

/* #endregion -groundwork*/
/* #region -utility classes */

.selectNone {
  /*cant be selected*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome,
  dge, Opera and Firefox */
}
.selectAll {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.displayOver {
  display: grid;
}
.displayOver > * {
  grid-column: 1;
  grid-row: 1;
}

/* #region screen ready only element. will not be displayed. */

.sr-only {
  position: absolute;
  clip-path: inset(50%);
}

/* #endregion screen ready only element */
/* #region flex container*/

.flexContainer {
  --rememberDisplay: flex;
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  align-content: stretch;
  /* justify-content: space-between; */ /*original*/
  justify-content: flex-start;
  align-items: stretch;
}
.flexContainer > .flexMeDyn {
  flex: 1 1;
}
/* all not dynamic in a flex container */
.flexContainer > :not(.flexMeDyn),
.flexContainer > .flexMeStatic {
  flex-grow: 0 0;
}

/* #region debug*/
/* .flexContainer > * {
	border: 5px solid lime;
}
.flexContainer > .flexMeDyn {
	background: dodgerblue;
}
.flexContainer > :not(.flexMeDyn),
.flexMeStatic {
	flex-grow: 0 0;
	background: crimson;
} */

/* #endregion debug */

/* #endregion flex container*/
/* #region flex side by side*/

.flexSBS {
  flex-direction: row;
  justify-content: flex-start;
}

/* #endregion */
/* #region clickable */

.clickable,
.clickable-container * {
  cursor: pointer;
}
.clickable:hover,
.clickable-container *:hover {
  text-decoration: underline;
  background: var(--backClickable);
}

/* #endregion -clickable */
/* #region text unify*/
/* makes text consistent over all child elements */

.txtUnify * {
  font: inherit;
}

/* #endregion text unify*/
/* #region delink */
/* makes <a> elements more better*/

a.delink {
  color: inherit;
}

/* #endregion text unify*/

/* #endregion -utility classes */

/* #region filter*/

.lvl-fltr,
.cont-fltr {
  color: var(--colFilter);
}
.lvl-fltr.active,
.cont-fltr.active {
  color: var(--colFilterA);
  text-decoration: underline;
}
.lvl-fltr:hover,
.cont-fltr:hover {
  color: var(--colFilterH);
}
.lvl-fltr.active:hover,
.cont-fltr.active:hover {
  color: var(--colFilterAH);
}
/* #endregion filter*/
/* #region filtered*/
.lvl-fltrd:not(.active),
.cont-fltrd:not(.active) {
  display: none;
}
/* #endregion filtered*/
/* #region about */

#about > p {
  width: 100%;
  text-align: justify;
}

/* #endregion about */
/* #region layout*/

#Base {
  height: 100vh;
  display: grid;
  --gridGap: 0.5em;
  --grid2row: 6em;
  gap: var(--gridGap);

  grid-template-areas:
    "title"
    "topic"
    "aside"
    "main"
    "foot";
  grid-template-columns: 100%;
  grid-template-rows:
    max-content
    max-content
    max-content
    max-content
    auto
    max-content;
}
/* increadibly small view */
@media (max-width: 275px) {
  html,
  html * {
    overflow-x: hidden;
  }
}

/* filter on the sides */
@media (min-width: 420px) and (max-width: 800px) {
  #Base {
    grid-template-areas:
      ". title"
      "topic main"
      "aside main"
      "foot foot";
    grid-template-columns: 12em 1fr;
    grid-template-rows:
      max-content
      var(--grid2row)
      auto
      max-content;
  }

  /* expand title to middle */
  @media (max-width: 480px) {
    #Base {
      grid-template-areas:
        "title title"
        "topic main"
        "aside main"
        "foot foot";
    }
  }
}

/* full view */
@media (min-width: 801px) {
  #Base {
    grid-template-areas:
      "title ."
      "topic main"
      "aside main"
      "foot foot";
    grid-template-columns: max-content 1fr;
    grid-template-rows:
      max-content
      var(--grid2row)
      auto
      max-content;
  }
  #Base > header {
    text-align: end;
  }
}

/* sticky filter if screen is big enough */
@media (min-width: 400px) and (min-height: 490px) {
  #projects-nav {
    position: sticky;
    top: 0px;
  }

  /* @media (min-height: 600px) {
    #Base > header {
      border: 2px solid red;
      position: sticky;
      top: 0px;
    }
  } */
}

#Base > header {
  grid-area: title;
}
#Base > nav {
  grid-area: topic;
  text-align: end;
}
#Base > aside {
  grid-area: aside;
  text-align: end;
}
#Base > main {
  grid-area: main;
}
#Base > footer {
  grid-area: foot;
}

#Main {
  display: grid;
  gap: var(--gridGap);

  grid-template-areas:
    "head"
    "main";
  grid-template-columns: 100%;
  grid-template-rows:
    var(--grid2row)
    auto;
}
#Main > header {
  grid-area: head;
}
#Main > :not(header) {
  grid-area: main;
}

/* #endregion layout */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colHighlight);
}

/* #region aside*/

aside p,
nav ul li {
  font-size: 1.2em;
}

#page-navigation ~ * {
  padding-top: 1em;
}

/* #endregion filter and topics */
/* #region main section */

#Base > main {
  max-width: 600px;
}

/* #region projects*/

#projects {
}

#projects > article {
  --dist: min(2vmin, 1em);
  padding-left: var(--dist);
  border-left: var(--borderCont);
  border-bottom: var(--borderCont);
  padding-bottom: var(--dist);
}
#projects > article:not(:first-of-type) {
  margin-top: var(--dist);
}

#projects main {
  margin-top: 1em;
}
#projects header ~ * {
  display: none;
}

/* all text paragraphs that arent img descriptions and no the last paragraph */
#projects main p:not(:last-child):not(img + p) {
  margin-bottom: 0.5em;
}

/* img */
#projects img {
  border: var(--borderImg);
}
#projects img + p {
  font-size: 0.8em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

/* #endregion projects */

/* #endregion main section */
/* #region footer */

#Base > footer {
  font: var(--fontFooter);
  height: 100%;
  width: 100%;
  position: sticky;
  bottom: 0;
  background: var(--colBG);
  /* border-top: 5em var(--colBG) solid; */
}
#Base > footer > * {
  float: left;
}

/* #endregion footer */
