/* #region general */

:root {
	/* #region COLORS */
	--colPalette1: #1f1264;
	--colPalette2: #ff88ac;
	--colPalette3: #7c0f61;
	--colPalette4: #31feee;
	--colPalette5: #5e2550;
	--colPalette6: #9811b0;
	/* baackground */
	--colBG: #2f14a8;
	/* title */
	--colTitle1: #31feee;
	--colTitle2: #55aad8;
	--colTitle3: #7660c5;
	--colTitle4: #9811b0;

	/* title background */
	--colTitleBG1: var(--colPalette1);
	--colTitleBG2: var(--colPalette3);

	/* text */
	--colText: black;

	/*nav*/
	--colTopic1: #edf2f4;
	--colTopicHover: #d7ced6;

	--colFilterT: #edf2f4; /*the filter button on the topic bar*/
	--colFilterTHover: #d7ced6; /*the filter button on the topic bar*/
	--colFilter: #edf2f4;
	--colFilterHover: #d7ced6;
	--colNavBG: #e6ecefe0;

	/* #endregion COLORS*/
	/* #region SIZES*/
	--mainwidth: 1200px;
	/* #endregion SIZES*/
}

/* #region -groundwork */
html {
	font-size: 100%;
	/* line-height: 1.5rem; */
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
	html {
		scroll-behavior: initial;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	padding: 0;
	min-height: 100vh;
	background-color: var(--colBG);
}

img {
	width: 100%;
	height: auto;
	display: block;
}
/* #endregion -groundwork*/
/* #region -utility classes*/
.selectNone {
	/*cant be selected*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome,
  dge, Opera and Firefox */
}
.selectAll {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

/* #endregion -utility classes*/

/* #endregion root*/
/* #region general nav*/

/* general menu item formatting */
#navigation ul,
#topic-nav ul,
#filter-list {
	margin: 0;
	padding: 0;
}
#navigation ul li,
#topic-nav ul li,
.sidebutton {
	list-style: none;
	cursor: pointer;
	border: 1px solid rgb(28, 27, 27);
	font-size: 1rem;
}

/*all buttons with height to font ration*/
.Fheight {
	--heightMult: 2.7; /*button height = font height x VAL*/
	height: calc(1em * var(--heightMult));
}

.navspan ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: stretch;
}
.navspan ul li {
	padding: 0;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--colTopic1);
}
.navspan ul li:hover {
	background-color: var(--colTopicHover);
}
.navspan ul li a {
	width: auto;
	height: auto;
}

li a {
	text-decoration: none;
	color: var(--colText);
}

/* #endregion */

/* #region header page*/
/* #region -title*/
#title-base {
	/* font-size: calc(1rem * 4); */
	font-size: calc(16px * 4);
}
#title {
	font-size: 2em;
	/* x&y offset of title*/
	--titlexoff: calc(1em * 0.5);
	--titleyoff: calc(1em * 0.5);
	/*uses current font size*/
	height: calc((1em * 2) * 1.1 + var(--titleyoff));
	width: 100%;
	padding-left: calc(1em * 0.09 + var(--titlexoff));
	padding-top: var(--titleyoff);

	background: linear-gradient(
		to bottom right,
		var(--colTitleBG1) 0%,
		var(--colTitleBG2) 100%
	);
}

/* #region media title size*/

/* prettier-ignore */
@media screen and (max-width: 375px)							{#title{font-size: 0.5em;	}}
/* prettier-ignore */
@media screen and (min-width: 376px) and	(max-width: 500px)	{#title{font-size: 0.65em;	}}
/* prettier-ignore */
@media screen and (min-width: 501px) and	(max-width: 600px)	{#title{font-size: 0.9em;	}}
/* prettier-ignore */
@media screen and (min-width: 601px) and	(max-width: 800px)	{#title{font-size: 1em;		}}
/* prettier-ignore */
@media screen and (min-width: 801px) and	(max-width: 1200px)	{#title{font-size: 1.5em;	}}

/* @media screen and (min-width: 1201px) and (max-width: 2000px) {#title{font-size: 2em;}} */
/* #endregion */

#title-title {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Koulen";
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	font-size: 100%;

	/* multi text shadow */

	--ttsc1: calc(1 * 1em * 0.08);
	--ttsc2: calc(2 * 1em * 0.08);
	--ttsc3: calc(3 * 1em * 0.08);

	color: var(--colTitle1);
	/* prettier-ignore */
	text-shadow:
    var(--ttsc1) var(--ttsc1) 0 var(--colTitle2),
		var(--ttsc2) var(--ttsc2) 0 var(--colTitle3),
		var(--ttsc3) var(--ttsc3) 0 var(--colTitle4);
}

/* #endregion -title*/
/* #region -navigation*/

/* affected by general nav, uses .navspan */
#navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;
	background-color: var(--colNavBG);
}
#navigation ul {
	justify-content: start;
	max-width: var(--mainwidth);
	flex-grow: 1;
}
#navigation ul li {
	/* max-width: 400px; */
}
/* #endregion -navigation*/

/* #endregion header page*/
/* #region main page*/

#page-main {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--mainwidth);
}

/* #region -about*/

/* #endregion -about*/

/* #region -projects*/

#project-div {
}
#project-div header {
}
#project-title {
	background-color: #d4d2e1;
}

/* #region --topic nav*/

#topic-nav {
}
#topic-nav ul {
}
#topic-nav ul li {
	background-color: var(--colTopic1);
}
#topic-nav ul li:hover {
	background-color: var(--colTopicHover);
}
#topic-nav ul li a {
}

/* #endregion --topic nav*/
/* #region --filter nav*/

/*for all filters and the topic filter button*/
.sidebutton {
	/* width: 100%; */
	width: 125px;
	/* max-width: 125px;
	min-width: 50px; */
	padding: 5px 10px;
}

#filter-nav {
	background-color: var(--colNavBG);
}

#filter-button {
	text-align: center;
	float: left;
}
#filter-button:hover {
	background-color: var(--colFilterTHover);
}
#filter-list {
	--rememberDisplay: block;
	display: none;
	/* flex: 1 1 auto; */
}
#filter-list li {
	height: fit-content;
	text-align: left;
	background-color: var(--colFilter);
}
#filter-list li:hover {
	background-color: var(--colFilterHover);
}

/* #endregion --filter nav*/
/* #region --content*/

#content-div {
	height: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}

/* #region ---generated content*/

#content-destination {
	/* size */
	width: auto;

	/* content */
	/* background-color: #a691a8; */
	/* me as flex item */
	flex-grow: 1;

	/* flex */
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	/* background-color: #9811b0; */
}
#content-article {
	font-size: 1rem;
	font-weight: normal;
	padding: 5px;

	min-width: 200px;
	max-width: 300px;

	min-height: 200px;
	border: 3px solid black;
	border-radius: 10px;
	background-color: aqua;
}
#content-article h2 {
	margin: 0;
}
#content-article img {
	width: 100%;
	min-height: 100px;
	height: auto;
	background-color: blanchedalmond;
}
/* #endregion ---generated content*/

/* #endregion --content*/

/* #endregion -projects*/

/* #endregion main page*/
/* #region footer*/

footer {
	background: var(--colFilter);
	color: var(--colText);
	padding: 1rem 4rem;
	height: calc(1rem * 4);
}

/* #endregion footer*/
/* #region media*/

@media screen and (max-width: 300px) {
	html {
		font-size: 0.5rem;
	}
}
@media screen and (min-width: 301px) and (max-width: 425px) {
	html {
		font-size: 0.7rem;
	}
}
@media screen and (min-width: 426px) {
	html {
		font-size: 1rem;
	}
}

/* #endregion */
